
  <% include ../partials/header.ejs %>
  <% include ../partials/p5.ejs %>
  <% include ../partials/socket.ejs %>

  <div class="container-fluid bg-4 text-center" id="canvas-holder">
    <h1 id="drawingnotes"></h1>
</div>
<div class="container-fluid bg-3 text-center">
    <h1>Leader Board</h1>
    <table id="scoreTable"></table>
</div>

