<!-- Score Table -->
<p>ensure caps lock is OFF</p>
<table>
    <tr><th>functions</th><th>controls</th></tr>
    <tr><td>Turn Left</td><td>a</td></tr>
    <tr><td>Turn Right</td><td>d</td></tr>
    <tr><td>Booster</td><td>w</td></tr>
    <tr><td>Fire Laser</td><td>Space Bar</td></tr>
</table>
<br>
<p>getting hit by an asteroid is death</p>
<p>blasting rocks will up your score</p>
<p>if you blast more than those who have gone before you your name will be hung in the grand space hall of amazing astroid blasters</p>