<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
    <div class="container">
        <h1>Your shipping Cost: $<%= cost %></h1>
        <form action="/" class="form">
            <input type="submit" value="Try Again">
        </form>
    </div>
</div>
</body>
</html>
